* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  /* Align items to the right */
}

nav > .navbar {
  background-color: rgb(255, 255, 255);
  top: 0;
}

nav ul {
  padding-right: 50px;
  list-style-type: none;
  margin: 0;
  /* Remove default margin */
  display: flex;
  justify-content: flex-end; /* Posisikan menu di sebelah kanan */
  align-items: center; /* Pusatkan menu secara vertikal */
}

nav li {
  margin-right: 20px;
  padding: 10px;
}

nav a {
  font-size: 16px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

nav>ul>li>a:hover {
  color: rgb(34, 225, 34);
  transition: all .4s ease-in-out;
  text-decoration: none;
}

nav>ul>li.active>a:hover {
  color: black !important;
}

.container {
  padding-top: 70px;
  /* Sesuaikan nilai ini dengan tinggi navbar Anda */
}

nav>ul>li>a:hover {
  color: rgb(225, 34, 168);
  transition: all .4s ease-in-out;
}

nav>ul>li>.active:hover {
  color: black !important;
  border-bottom: 3px solid black; /* Tambahkan 'solid' agar garis bawah jelas */
}


.container {
  padding-top: 70px;
  /* Sesuaikan nilai ini dengan tinggi navbar Anda */
}

nav>ul>li>a:hover {
  color: rgb(225, 34, 168);
  transition: all .4s ease-in-out;
  
}

nav>ul>li>.active:hover {
  color: black !important;
  border-bottom: 3px black;
}



/* deskripsi */
.deskripsi-container {
  background-color: #ffffff;
  height: 300px;
  margin: 40px;
  padding: 20px;
  display: flex;
  box-shadow: 0 2px 0 5px rgb(231, 231, 231);
}

.deskripsi-container>div {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.deskripsi-container>div>div {
  width: 500px;
}

.deskripsi-container>img {
  width: 40%;
  object-fit: cover;
  text-align: right;
}

.deskripsi-footer {
  display: flex;
  justify-content: space-between;
}

.font-weight-read {
  font-weight: bold;
}

.deskripsi-container>div {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 150px;
  padding-left: 200px;
}